<tr>
  <td>
    <div id="railway_station_title_<%= railway_station.id %>">
      <%= railway_station.title %>
    </div>
    <%= render 'form', railway_station: railway_station, hidden: true %>  
  </td> 
  <td><%= link_to t('common.show'), [:admin, railway_station] %></td>
  <td><%= link_to t('common.edit'), '', class: 'edit_railway_station', data: { railway_station_id: railway_station.id } %></td>
  <td><%= link_to t('common.delete'), [:admin, railway_station], method: :delete, data: { confirm: t('common.confirm') } %></td>
</tr>