<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station %>
    <%= @train.current_station.title %>
  <% else %>
    не указано
  <% end %>
</p>

<p>
  <strong>Текущий маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.name %>
  <% else %>
    маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Вагоны в составе поезда:</strong>
  <% if @train.wagons.empty? %>
    вагонов у данного поезда нет
  <% else %>
    <ul>
      <% @train.wagons.each do |wagon| %>
        <li><%= link_to "#{wagon.number} - #{wagon.wagon_type}", wagon %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
