<div class="row">
  <h1><%= t('.title') %></h1>
  <%= form_for @search, method: :post, url: search_path do |f| %>

    <div class="col-md-4">
      <%= f.label :first_station_id, 'Начальная станция' %>
      <%= f.collection_select :first_station_id, RailwayStation.all, :id, :title, {}, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= f.label :last_station_id, 'Конечная станция' %>
      <%= f.collection_select :last_station_id, RailwayStation.all, :id, :title, {}, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= f.label 'Начать поиск' %>
      <%= f.submit 'Тык!', class: 'btn btn-primary' %>
    </div>

    <% if @search.search_result %>
      <div class="panel panel-info">
        <div class="panel-heading text-center">
          <h2>Результат поиска</h2>
        </div>
          <table class="table table-bordered text-center">
            <thead class="thead-default">
              <tr>
              <th>Поезд</th>
              <th>Маршрут</th>
              <th>Время отправления</th>
              <th>Время прибытия</th>
              </tr>
            </thead>
          <tbody>
            <% @search.search_result.each do |result| %>
              <tr>
                <td><%= result.number %></td>
                <td><%= result.route.name %></td>
                <td><%= @search.find_arrival_station.arrival_time_in(result.route) %></td>
                <td><%= @search.find_departure_station.departure_time_in(result.route) %></td>
                <td>
                  <%= link_to t('common.buy'), new_ticket_path(ticket: { train_id: result.id,
                                                                        first_station_id: @search.first_station_id,
                                                                        last_station_id: @search.last_station_id
                                                                        }) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>