<p id="notice"><%= notice %></p>

<p>
  <strong>Параметры вагона:</strong>
</p>

 <ul>
  <li>Тип: <%= @wagon.type %></li>
  <li>Количество верхних мест: <%= @wagon.top_seats %></li>
  <li>Количество нижних мест: <%= @wagon.bottom_seats %></li>
  <li>Количество верхних боковых мест: <%= @wagon.side_top_seats %></li>
  <li>Количество нижних боковых мест: <%= @wagon.side_bottom_seats %></li>
 </ul>

<p>
  <strong>Текущий поезд:</strong>
  <% if @wagon.train %>
      <%= @wagon.train.number %>
    <% else %>
      поезд не назначен
    <% end %>
</p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>