<%= form_for [:admin, @train, @wagon.becomes(Wagon)] do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select :type, Wagon::TYPES, {}%>
  </div>

  <div class="field" id="wagon_top_seats">
    <%= f.label :top_seats %>
    <%= f.text_field :top_seats%>
  </div>

  <div class="field" id="wagon_bottom_seats">
    <%= f.label :bottom_seats %>
    <%= f.text_field :bottom_seats%>
  </div>

  <div class="field" hidden="true" id="wagon_side_top_seats">
    <%= f.label :side_top_seats %>
    <%= f.text_field :side_top_seats%>
  </div>

  <div class="field" hidden="true" id="wagon_side_bottom_seats">
    <%= f.label :side_bottom_seats %>
    <%= f.text_field :side_bottom_seats%>
  </div>

  <div class="field" hidden="true" id="wagon_sitting_seats">
    <%= f.label :sitting_seats %>
    <%= f.text_field :sitting_seats%>
  </div>

  <div class="field">
    <%= f.label :train %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: @wagon.new_record? ? t('common.create') : t('common.edit')) %>
  </div>
<% end %>