<%= form_for [:admin, @train, @wagon.becomes(Wagon)] do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
    <%= f.label :type, 'Тип вагона'%>
    <%= f.select :type, Wagon::TYPES, {}%>
  </div>

  <div class="field">
    <%= f.label :top_seats, 'Количество верхних мест'%>
    <%= f.text_field :top_seats%>
  </div>

  <div class="field">
    <%= f.label :bottom_seats, 'Количество нижних мест'%>
    <%= f.text_field :bottom_seats%>
  </div>

  <div class="field">
    <%= f.label :side_top_seats, 'Количество верхних боковых мест'%>
    <%= f.text_field :side_top_seats%>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats, 'Количество нижних боковых мест'%>
    <%= f.text_field :side_bottom_seats%>
  </div>

  <div class="field">
    <%= f.label :sitting_seats, 'Количество сидячих мест'%>
    <%= f.text_field :sitting_seats%>
  </div>

  <div class="field">
    <%= f.label :train, 'Выберите поезд' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit "#{@wagon.new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>